<section class="card">
  <div class="card-header">
    <h1>Acme Company Inc - Feedback Form</h1>
  </div>
  <div class="card-body">
    <form novalidate
          (ngSubmit)="handleSubmit()"
          [formGroup]="feedbackForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="name">
          Name:
        </label>
        <div class="col-md-8">
          <input class="form-control"
                 id="name"
                 type="text"
                 placeholder="Enter your name..."
                 formControlName="name"
                 [ngClass]="{'is-invalid': (feedbackForm.get('name').touched || feedbackForm.get('name').dirty) && !feedbackForm.get('name').valid }"/>
          <span class="invalid-feedback">
            <span *ngIf="feedbackForm.get('name').errors?.['minlength']">
              Your name needs to be at least 6 characters long!
            </span>
            <span *ngIf="feedbackForm.get('name').errors?.['required']">
              Your name is required!
            </span>
            <span *ngIf="feedbackForm.get('name').errors?.['pattern']">
              Your name can only contain letters and spaces!
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="companyName">
          Company Name:
        </label>
        <div class="col-md-8">
        <input class="form-control"
               id="companyName"
               type="text"
               placeholder="Enter your company name..."
               formControlName="companyName"
               [ngClass]="{'is-invalid': (feedbackForm.get('companyName').touched || feedbackForm.get('companyName').dirty) && !feedbackForm.get('companyName').valid }"/>
        <span class="invalid-feedback">
          <span *ngIf="feedbackForm.get('companyName').errors?.['required']">
                Your company name is required!
          </span>
        </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="jobTitle">
          Job Title:
        </label>
        <div class="col-md-8">
        <input class="form-control"
               id="jobTitle"
               type="text"
               placeholder="Enter your job title..."
               formControlName="jobTitle"
               [ngClass]="{'is-invalid': (feedbackForm.get('companyName').touched || feedbackForm.get('companyName').dirty) && !feedbackForm.get('companyName').valid }"/>
        <span class="invalid-feedback">
          <span *ngIf="feedbackForm.get('jobTitle').errors?.['required']">
                Your company name is required!
          </span>
        </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="yearsInRole">
          Years in role:
        </label>
        <div class="col-md-8">
          <input class="form-control"
                 id="yearsInRole"
                 type="number"
                 min="1"
                 max="50"
                 placeholder="1"
                 formControlName="yearsInRole"
                 [ngClass]="{'is-invalid': (feedbackForm.get('yearsInRole').touched || feedbackForm.get('yearsInRole').dirty) && !feedbackForm.get('yearsInRole').valid }"/>
          <span class="invalid-feedback">
          <span *ngIf="feedbackForm.get('yearsInRole').errors?.['min']">
                Your years in role is too low!
          </span>
          <span *ngIf="feedbackForm.get('yearsInRole').errors?.['max']">
                Your years in role is too high!
          </span>
        </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="additonalFeedback">
          Additional feedback:
        </label>
        <div class="col-md-8">
          <textarea class="form-control"
                 id="additonalFeedback"
                 placeholder="Enter some additional feedback..."
                 formControlName="additionalFeedback"
                 rows="3"
                 [ngClass]="{'is-invalid': (feedbackForm.get('companyName').touched || feedbackForm.get('companyName').dirty) && !feedbackForm.get('companyName').valid }"></textarea>
          <span class="invalid-feedback">
          <span *ngIf="feedbackForm.get('additionalFeedback').errors?.['required']">
                Your feedback is required!
          </span>
        </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4 mt-2">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  [title]="feedbackForm.valid ? 'Submit your data!' : 'Disabled until the form data is valid'"
                  [disabled]="!feedbackForm.valid">
            Submit Feedback
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
